.page-content .wrapper .content-block {
    display: flex;
    position: relative;
    flex-direction: column;
    @media (min-width: 980px) {
        min-height: 130vh;
        flex-direction: row;
        padding-bottom: 10vh;
        min-height: unset;
    }
    &.true {
        background-color: $wt-pale-grey;
        @media (min-width: 980px) {
            padding-top: 10vh;
        }
    }
    &.right {
        @media (min-width: 980px) {
            flex-direction: row-reverse;
        }
    }
    .image-wrapper {
        iframe {
            width: 70vw;
            height: calc((70vw / 16) * 9);
        }
    }
    .text-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        @media (min-width: 980px) {
            padding: 30px 80px;
            width: 30vw;
        }
    h2 {
        // font-size: 10vw;
        color: $wt-navy;
        text-align: left;
        max-width: unset;
        margin: unset;
        @media (min-width: 980px) {
            font-size: 50px;
            font-size: 35px;
            
        }
    }
    p {
        margin: unset;
        padding-top: 16px;
        &:first-child {
            margin-top: 70px;
        }
    }
    }
    .rectangle {
        z-index: -1;
        &.right {
            width: 320px;
            height: 100px;
            position: absolute;
            right: 0;
            bottom: 0;
            @media (min-width: 980px) {
                top: -80px;
                bottom: unset;
            }
        }
        &.left {
            width: 280px;
            height: 120px;
            position: absolute;
            left: 0;
            top: -70px;
            z-index: -1;
            @media (min-width: 980px) {
                // z-index: 1;
                width: 500px;
                height: 200px;
                top: unset;
                bottom: -80px;
            }
        }
        &.green {
            background: $wt-green;
        }
        &.yellow {
            background: $wt-yellow;
        }
        &.pink {
            background: $wt-pink;
        }
        &.navy {
            background: $wt-navy;
        }
    }

    &.left.false {
        .rectangle {
            &.right {
                right: unset;
                left: 0;
                @media (min-width: 980px) {
                    z-index: 1;
                }
            }
            &.left {
                left: unset;
                
                bottom: -38vh;
                z-index: -1;
                @media (min-width: 980px) {
                    right: -30vw;
                }
            }
        }
    }
    
}