/**
 * Page content
 */



.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  margin-top: 80px;
  .wrapper {
    h2 {
    }
    p a {
      display: flex;
      align-items: center;
      color: $wt-navy;
      margin-top: 20px;
      &::before {
        // content:url("../assets/arrow.svg");
        content:url("../assets/arrow.svg");
        margin-right: 15px;
        transform: translateY(2px);
        display: inline;
        width: 30px;
        height: 30px;
        border: 2px solid $wt-navy;
        border-radius: 50%;
        padding: 15px 3px 3px 15px;
        transition: all 0.3s ease;
      }
      
    }

    a {
      font-weight: 600;
    }
    p a:hover {
       
          &:before {
            content:url("../assets/arrow-hover.svg");
            background-color: $wt-navy;
            // border: 2px solid $wt-yellow;
          }
        
    }
        .flex-three {
          display: flex;
          flex-direction: row;
          margin: 20vh auto;
          width: 100vw;
          overflow: scroll;
          margin-left: -15px;
          padding-left: 15px;
          gap: 40px; 
    
          @include media-query($on-laptop) {
            display: flex;
            flex-direction: row;
            width: max-content;
            margin: 20vh auto;
            gap: 40px;
            overflow: unset;
          }
    
          li,
          .inner {
            min-width: 300px;
            color: $wt-navy;
            list-style: none;
            // margin-right: 40px;
    
            @include media-query($on-laptop) {
              min-width: unset;
              width: 300px;
              margin-right: unset;
            }
    
            img {display: block;}
    
            h3 {
              font-family: "PlayFair Display",
                Arial,
                Helvetica,
                sans-serif;
              font-size: 25px;
              line-height: 120%;
              font-weight: 400;
              margin-bottom: 30px;
              margin-bottom: 30px;
            }
    
            p,
            span {
              font-family: "Work Sans",
                Arial,
                Helvetica,
                sans-serif;
              font-size: 17px;
              line-height: 135%;
              font-weight: 600;
              margin-bottom: 4px;
            }
            span {
              font-weight: 400;
            }
          }
    
          .add-quotes {
            &:before {
              content: '';
              background-image: url(quotes.svg);
              width: 60px;
              height: 22px;
              display: block;
              background-size: contain;
              background-repeat: no-repeat;
              margin-bottom: 6px;
            }
          }


          &.posts {
            li {
              a {
                color: $wt-navy;
              }
              h3, span {
                padding: 15px 10px 0 10px;
                margin-bottom: 15px;
              }
              h3 {
                font-family: "PlayFair Display",
                  Arial,
                  Helvetica,
                  sans-serif;
                color: $wt-navy;
                font-weight: 600;

              }
              span {
                padding-top: 0;
                color: $wt-navy;
              }
            }
          }
          &.team-members-wrapper {
            .inner {
              img {
                border-radius: 30px;
                margin-bottom: 15px;
              }
              h3, small, a {
                margin: 0 10px;
              }
              h3 {
                margin-bottom: 0;
                font-weight: 600;
                
                &:nth-child(odd) {
                  font-weight: 400;
                }
              }
              small {
                display: block;
                font-family: "Work Sans", Arial, Helvetica, sans-serif;
                line-height:130%;
                margin-top: 15px;
                margin-bottom: 15px;
              }
              a {
                display: block;
                text-decoration: none;
                margin-bottom: 10px;
                color: $wt-navy;
                width: max-content;
                position: relative;
                &::after {
                  content: '';
                  width:100%;
                  height: 1px;
                  left: 0;
                  bottom: 0;
                  background-color: $wt-navy;
                  position: absolute;
                }
                &:hover {
                &::after {
                    height: 2px;
                  }
                }
              }
              
            }
          }
        }
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  font-family: "Playfair Display";
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}



