/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 10px 10px;
  background-color: $wt-navy;
  color: white;

  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  @media (min-width: 980px) {
    padding: $spacing-unit 20px 10px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-query($on-laptop) {
      flex-direction: row;
    }
  }

  .footer-left {
    @media (min-width: 980px) {
      width: 50%;
    }
    .footer-heading {
        background-image: url(../assets/logo_white.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: transparent;
        width: auto;
        width: 220px;
        height: 110px;
        display: inline-block;
        @media (min-width: 980px) {
          width: 280px;
          height: 130px;
        }
    }
  }

  .footer-right {
    flex-grow: 1;
    @media (min-width: 980px) {
        width: 50%;
      }
    
    ul.contact-list {
      display: flex;
      margin-left: 0;
      flex-wrap: wrap;
      margin-bottom:8vh;
      @media (min-width: 980px) {
        margin-bottom: 0;
        gap: 40px;
        justify-content: space-evenly;
      }
      li,
      span {
        list-style: none;
        width: 100%;
        @media (min-width: 980px) {
          width: 29%;
        }
      }
            li {
              list-style: none;
              display: block;
              // width: 80%;
              font-style: normal;
              font-family: "Work Sans";
              font-weight: 600;
              font-size: 14px;
              margin-top: 24px;
              @media (min-width: 980px) {
                margin-bottom: 4vh;
              }
            }
      
            a,
            p {
              display: block;
              font-style: normal;
              // width: max-content;
              font-size: 20px;
              font-family: "PlayFair Display";
              font-weight: 400;
              color: white;
              position: relative;
              margin-top: 13px;
            }
      
            a {
              &::after {
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                background-color: $wt-navy;
                bottom: 0;
                left: 0;
              }
      
              &:hover {
                &::after {
                  height: 2px;
                }
              }
            }
    }

        
  }
  .footer-extras {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
    width: 100%;
    @media (min-width: 980px) {
      flex-direction: row;
    }
    a, li, p {
      font-family: "Work Sans";
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 0;
    }
    li {
      list-style: none;
      @media (min-width: 980px) {
        width: 50%;
      }
    }
    a {
      color: white;
    }
    
  }
}
