/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0 10px;
  background-color: $wt-navy;
  color: white;

  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-query($on-laptop) {
      flex-direction: row;
    }
  }

  .footer-left {
    width: 40%;
    .footer-heading {
        background-image: url(../assets/logo_white.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: transparent;
        width: auto;
        width: 210px;
        height: 40px;
        display: inline-block;
    }
  }

  .footer-right {
    flex-grow: 1;
    
    ul.contact-list {
      display: flex;
      justify-content: space-evenly;
      li,
      span {
        width: 33%;
        margin-right: 10px;
        list-style: none;
      }
            li {
              list-style: none;
              display: block;
              width: 80%;
              font-style: normal;
              font-family: "Work Sans";
              font-weight: 600;
              margin-bottom: 4vh;
              font-size: 14px;
              margin-top: 15px;
      
              &:nth-child(1) {
                margin-bottom: 8vh;
              }
            }
      
            a,
            p {
              display: block;
              font-style: normal;
              width: max-content;
              font-size: 20px;
              font-family: "PlayFair Display";
              font-weight: 400;
              color: white;
              position: relative;
              margin-top: 20px;
            }
      
            a {
              &::after {
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                background-color: $wt-navy;
                bottom: 0;
                left: 0;
              }
      
              &:hover {
                &::after {
                  height: 2px;
                }
              }
            }
    }

        
  }
  .footer-extras {
    display: flex;
    gap: 8px;
    color: white;
    a, li, p {
      font-family: "Work Sans";
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 0;
    }
    li {
      list-style: none;
    }
    a {
      color: white;
    }
    
  }
}
