/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: $wt-navy;
  color: white;

  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-left {
    width: 50%;
  }

  .footer-right {
    width: 50%;
    ul {
      display: flex;
      li,
      span {
        width: 33%;
        margin-right: 10px;
        list-style: none;
        a {
          color: $white;
        }
      }
    }
  }
  .footer-extras {
    display: flex;
  }
}
