.page-content .wrapper .intro {
    margin: 8vh auto 15vh;
    padding: 0 20px;
    @media (min-width: 980px) {
        margin: 20vh auto 25vh;
        padding: 0;
        h1, h3 {
            font-size: 3.7vw;
            color: pink;
        }
    }
    h1, h3 {
        text-align: center;
        margin-bottom: 0;
        &:nth-child(1) {
            margin-bottom: 0;
        }
    }
}