.page-content .wrapper .news-wrapper {
    margin-top:15vh;
    margin-bottom: 15vh;
    position: relative;
    .post-list-heading {
        padding: 0 20px;
        max-width: unset;
        @media (min-width: 980px) {
            padding: 0 80px;
        }
    }
    .posts {
        margin: 0;
        padding: 0 20px;
        max-width: unset;
        position: relative;
        @media (min-width: 980px) {
            padding: 0 80px;
        }
        .posts-image {
            aspect-ratio: 5 / 3;
        }
    }
        .rectangle {
            position: absolute;
            width: 300px;
            height: 180px;
            z-index: -1;
            right: 0;
            bottom: -100px;
    
            @media (min-width:980px) {
                width: 500px;
            }
    
            &.left {
                width: 500px;
                height: 180px;
                position: absolute;
                left: 0;
                top: -10vh;
                z-index: -1;
            }
        }
}