.page-content .wrapper .news-wrapper {
    margin-top:15vh;
    margin-bottom: 15vh;
    position: relative;
    .post-list-heading {
        padding: 0 20px;
        max-width: unset;
        @media (min-width: 980px) {
            padding: 0 80px;
        }
    }
    .posts {
        margin: 0;
        padding: 0 20px;
        max-width: unset;
        position: relative;
        @media (min-width: 980px) {
            padding: 0 80px;
        }
        .posts-image {
            aspect-ratio: 5 / 3;
        }
        .posts-title {
            svg {
                margin-left: 10px;
                    width: 25px;
                    height: auto;
                    transition: backgroundColor 0.3s ease;
                    padding: 6px;
                    border: 2px solid $wt-navy;
                    border-radius: 50%;
            
                }
            
                &:hover {
                    cursor: pointer;
                    svg {
                        background-color: $wt-navy;
                        path {
                            fill: white;
                        }
                    }
                }
        }
    }
        .rectangle {
            position: absolute;
            width: 300px;
            height: 180px;
            z-index: -1;
            right: 0;
            bottom: -100px;
    
            @media (min-width:980px) {
                width: 500px;
            }
    
            &.left {
                height: 180px;
                position: absolute;
                left: 0;
                top: -10vh;
                z-index: -1;
                @media (min-width: 980px) {
                        width: 500px;
                    }
            }
        }
}




.news {
    position: relative;
    .news-wrapper {
        @media (max-width: 980px) {
            .flex-three.posts {
                flex-direction: column;
                li {
                    flex: 0 0 33.3333%;
                }
            }
        }
    }
    .rectangle {
        z-index: -1;

        &.right {
            width: 100px;
            height: 170px;
            position: absolute;
            right: 0;
            bottom: 100vh;
            
            @media (min-width: 980px) {
                width: 420px;
                top: 10vh;
                bottom: unset;
            }
        }

        &.left {
            width: 280px;
            height: 120px;
            position: absolute;
            left: 0;
            top: 200vh;
            z-index: -1;

            @media (min-width: 980px) {
                width: 500px;
                height: 200px;
                top: 120vh;
            }
        }

        &.green {
            background: $wt-green;
        }

        &.yellow {
            background: $wt-yellow;
        }

        &.pink {
            background: $wt-pink;
        }

        &.navy {
            background: $wt-navy;
        }
    }

    
}