$wt-navy: #162b40;
$wt-pink: #dc6094;
$wt-green: #57cb8e;
$wt-yellow: #efc75c;
$white: #ffffff;

$widthHeight: 45vw;

.projects {
    & > h3 {
        margin: auto!important;
        margin-bottom: 40vh!important;
    }
    .posts {
        margin-top: 20vh!important;
        margin-left: 0!important;
        max-width: unset!important;
        // margin: -20px!important;
        position: relative;
        padding: 0!important;
        margin-bottom: 0!important;
        // a {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        // }
        li {
            list-style: none;
            margin: auto;
            position: relative;
            // display: flex;
            // flex-direction: colum;
            .projects-title {
                max-width: 80vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 8;
                filter: drop-shadow(0 0 0.75rem #12121250);
                h3 {
                    color: white;
                    text-align: center;
                    font-weight: 800;
                    width: 80vw;
                    span {
                        font-weight: 300;
                        display: block;
                    }
                }
                &:hover {
                    h3 {
                        text-decoration: underline;
                        text-underline-offset: 0.22em;
                        text-decoration-thickness: 1px;
                    }
                }
            }
            img.projects-image {
                // width: 50vw;
                height: calc(100vh - 79px);
                object-fit: cover;
                position: relative;
                z-index: 2;
                filter:brightness(60%);
            }
            .rectangle {
                &.right {
                    width: 320px;
                    height: 100px;
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    @media (min-width: 980px) {
                        top: -80px;
                        bottom: unset;
                    }
                }
                &.left {
                    width: 280px;
                    height: 120px;
                    position: absolute;
                    left: 0;
                    top: -70px;
                    z-index: 6;
                    @media (min-width: 980px) {
                        width: 500px;
                        height: 200px;
                        top: unset;
                        bottom: -80px;
                    }                    
                }

                &.green {
                    background: $wt-green;
                }

                &.yellow {
                    background: $wt-yellow;
                }

                &.pink {
                    background: $wt-pink;
                }

                &.navy {
                    background: $wt-navy;
                }
                top: 0!important;
            }            
        }
        & li:nth-child(odd) {
            flex-direction: row;
            .rectangle {
                & {
                    background: $wt-pink;
                    right: 0;
                    left: unset;
                }
            }
        }
        & li:nth-child(even) {
            flex-direction: row-reverse;
            .text-wrapper {
                left: 0;
            }
        }

        
    }

        
}


