.page-content .wrapper .testimonials-wrapper {
    &.true {
        background-color: $wt-pale-grey;
        padding: 10vh 0 15vh 20px;
        @media (min-width: 980px) {
            padding: 15vh 0;
        }
    }
    .inner {
        h3 {
            text-align: left;
            flex-grow: 1;
        }
    }
    .flex {
        display: flex;
        flex-direction: column;
        .flex {
            align-items: flex-start;
            // flex-grow: 1;
            p {
                margin: unset;
            }
        }
    }
        
}