<div class="clients-wrapper">
  <div class="text-wrapper">
    <h2 class="fade-me-in">Clients and Collaborators</h2>
    <a href="wrecktangle/projects" class="fade-me-in">See our work</a>
  </div>
  <div class="flex-four">
    {%- if page.clients -%} {%- for clients in page.clients -%}
    <div class="inner fade-me-in">
      <img
        src="{{ clients.client-logo }}"
        alt="{{ clients.client-name }} logo"
      />
    </div>
    {%- endfor -%}{%- endif -%}
  </div>
  <div class="rectangle right green"></div>
</div>
