{%- if page.content-block -%} {%- for contentBlock in page.content-block -%}
<div
  class="content-block {{ contentBlock.layout }} {{ contentBlock.has-grey-background }}"
>
  <div class="image-wrapper">
    {%- if contentBlock.image -%}
    <img
      src="{{ contentBlock.image }}"
      alt="{{ contentBlock.alt }} logo"
      loading="lazy"
    />
    {%- if contentBlock.image-caption -%}
    <small> {{ contentBlock.image-caption }} </small>
    {%- endif -%} {%- endif -%} {%- if contentBlock.video-url -%}
    <iframe
      width="560"
      height="315"
      src="{{ contentBlock.video-url }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    {%- endif -%}

    <div class="rectangle left {{ contentBlock.left-color-name }}"></div>
  </div>
  <div class="rectangle right {{ contentBlock.right-color-name }}"></div>

  <div class="text-wrapper fade-me-in">
    {%- if contentBlock.array -%} {%- for array in contentBlock.array -%}
    <h2>{{ array.question }}</h2>
    {{ array.answer-text | markdownify }} {%- endfor -%} {%- endif -%} {%- if
    contentBlock.sub-title -%}
    <h2>{{ contentBlock.sub-title }}</h2>
    {%- endif -%} {%- if contentBlock.body-text -%}
    <p>{{ contentBlock.body-text | markdownify }}</p>
    {%- endif -%}
  </div>
</div>
{%- endfor -%} {%- endif -%}
