<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-left">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <!-- <p>{{- site.description | escape -}}</p> -->
      </div>

    <div class="footer-right">
      <ul class="contact-list">
          {%- if site.address -%}
          <li class="p-name">ADDRESS<p>{{ site.address | markdownify | remove: '<p>' | remove: '</p>' }}</p></li>
          {%- endif -%}
          {%- if site.email -%}
            <li>EMAIL<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          {%- if site.phone -%}
            <li>PHONE<a class="u-phone" href="mailto:{{ site.phone }}">{{ site.phone }}</a></li>
          {%- endif -%}
        <!-- <span>
          {%- if site.twitter -%}
          <li><a class="u-twitter" href="mailto:{{ site.twitter }}">{{ site.twitter }}</a></li>
          {%- endif -%}
          {%- if site.instagram -%}
          <li><a class="u-instagram" href="mailto:{{ site.instagram }}">{{ site.instagram }}</a></li>
          {%- endif -%}
          {%- if site.facebook -%}
          <li><a class="u-facebook" href="mailto:{{ site.facebook }}">{{ site.facebook }}</a></li>
          {%- endif -%}
        </span> -->
      </ul>
    </div>


    <div class="footer-extras">
      <li>Doire Oneoak Consulting Limited, T/A Wrecktangle</li>
      <li>
      {%- if site.copyright -%}
        &copy; {{ site.copyright }} {{ 'now' | date: "%Y"}}  
        {%- endif -%} &nbsp;| Website by <a target="_blank" href="www.harryfischer.co.uk">Harry Fischer</a>
      </li>
    </div>

  </div>

</footer>
