{%- if page.how-we-work -%} {%- for howWeWork in page.how-we-work -%}
<div
  class="how-we-work {{ howWeWork.has-grey-background }} {{ howWeWork.layout }}"
>
  <div class="image-wrapper">
    <img
      src="{{ howWeWork.image }}"
      alt="{{ howWeWork.alt }} logo"
      loading="lazy"
    />
    {%- if howWeWork.image-caption -%}
    <small> {{ howWeWork.image-caption }} </small>
    {%- endif -%}
  </div>

  <div class="text-wrapper">
    <h2>{{ howWeWork.sub-title }}</h2>
    {%- for array in howWeWork.array -%}
    <div class="hww-hide-me">
      <h3>{{ array.sub-title }}</h3>
      <p>{{ array.text }}</p>
    </div>
    {%- endfor -%}
    <p>{{ howWeWork.text | markdownify }}</p>
  </div>
  <div class="rectangle right bottom {{ howWeWork.left-color-name }}"></div>
  <div class="rectangle right {{ howWeWork.right-color-name }}"></div>
</div>
{%- endfor -%} {%- endif -%}
