<div class="flex-three team-members-wrapper">
  {%- if page.team-title -%}
  <h1>{{ team-title.title }}</h1>
  {%- endif -%} {%- if page.team-members -%} {%- for team-members in
  page.team-members -%}
  <div class="inner">
    <img src="{{ team-members.image }}" alt="" />
    <h3>{{ team-members.name }}</h3>
    <h3>{{ team-members.job-title }}</h3>
    <small>{{ team-members.bio-text }}</small>
    <a href="{{ team-members.linked-in }}" target="_blank">Linked-in</a>
  </div>
  {%- endfor -%}{%- endif -%}
</div>
