---
---

// @import "styles/styles";
@import "styles/layout", "styles/header", "styles/footer", "styles/content", "styles/testimonials", "styles/news", "styles/projects", "styles/contact", "styles/post";

$max-width: 800px;

.page-content {
  margin-top: 80px;
  .wrapper {
    padding-top: 25vh;
    h1,
    h2,
    ul,
    p {
      margin: auto;
      max-width: $max-width;
      color: $wt-navy;
    }
    h1,
    h2, h3 {
      font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
      text-align: center;
    }
    h1 {
      font-size: 80px;
      font-weight: 600;
      line-height: 110%;
      color: $wt-green;
      margin-bottom: 60px;
      letter-spacing: 4px;
    }
    h2 {
      font-size: 30px;
      font-weight: 400;
      line-height: 135%;
      & strong {
        font-weight: 600;
      }
      &:nth-child(1) {
        margin-bottom: 4px;
      }
      &:nth-child(2) {
        margin-bottom: 25vh;
      }
    }
    h3 {
      text-align: left;
      margin: auto;
    }
    p, ul, h3 {
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 140%;
      margin-bottom: 14px;
      max-width: 620px;
    }
    h3 {
      font-weight: 600;
    }
    ul {
      padding-left: 40px;
    }
    .image-wrapper {
      max-width: 80vw;
      max-height: 50vw;
      overflow: hidden;
      object-fit: cover;
      margin-bottom: 25vh;
      img {
        width: 100%;
        background-position: center;
      }
    }
  }
}


.page-content {
  .image-wrapper, .posts li img {
   border-radius: 30px;
 }
}
