<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content | replace: "/uploads/", "/wrecktangle/uploads/" }}
<!-- | replace: "/uploads/", "/wrecktangle/uploads/" -->
      </div>
      <!-- test -->
      <div class="contact-overlay" id="contact-nav-overlay">
        <address>
          <div>
            {%- if site.address -%}
            <li class="p-name">ADDRESS<p>{{ site.address | markdownify | remove: '<p>' | remove: '</p>' }}</p></li>
            {%- endif -%}
            {%- if site.email -%}
              <li>EMAIL<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {%- if site.phone -%}
              <li>PHONE<a class="u-phone" href="mailto:{{ site.phone }}">{{ site.phone }}</a></li>
            {%- endif -%}
        
          </div>
        </address>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  <script src="{{ site.baseurl }}/assets/main.js"></script>
</html>
