---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->
  <!-- content start -->
  {{ content | markdownify }}
  <!-- content end -->
  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <ul class="flex-three posts">
    {%- for post in site.posts -%}
    <li>
      <a class="posts-title" href="{{ post.url | relative_url }}">
        <img
          class="posts-image"
          src="{{ post.main-image | relative_url }}"
          alt=""
        />
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%}
        <span class="posts-meta">{{ post.date | date: date_format }}</span>
        <h3>{{ post.title | escape }}</h3>
        {%- if site.show_excerpts -%} {{ post.excerpt }}
      </a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>
