---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->
  <!-- content start -->
  {{ content }}
  <!-- content end -->
  {%- if site.posts.size >= 3 -%}
  <div class="news-wrapper">

    <h2 class="post-list-heading fade-me-in">Latest News & Press</h1>
    <ul class="flex-three posts fade-me-in">
      {%- for post in site.posts limit:3 -%} {% if post.is-external == true %}
      <li>
        <a class="posts-title " href="{{ post.external-url }}">
          <img
            class="posts-image"
            src="{{ post.main-image }}"
            alt=""
            style="aspect-ratio: 5 / 3; object-fit: cover;"
            loading="lazy"
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
          -%}
          <span class="posts-meta">{{ post.date | date: date_format }}</span>
        </a>
      </li>
      {% else %}
      <li>
        <a class="posts-title" href="{{ post.url }}">
          <img
            class="posts-image"
            src="{{ post.main-image }}"
            alt=""
            style="aspect-ratio: 5 / 3; object-fit: cover;"
            loading="lazy"
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
          -%}
          <span class="posts-meta">{{ post.date | date: date_format }}</span>
        </a>
      </li>
      {% endif %}
  
      <!-- {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%} -->
      {%- endfor -%}
    </ul>
    <div class="rectangle left yellow"></div>
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>
