---
layout: default
---

<div class="news">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content | replace: "/uploads/", "/wrecktangle/uploads/" }}
  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->

  <ul class="flex-three posts">
    {%- for post in site.posts -%}
    <li>
      <img
        class="posts-image"
        src="{{ site.baseurl }}{{ post.main-image }}"
        alt=""
      />
      <h3>
        <a class="posts-title" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <span class="posts-meta">{{ post.date | date: date_format }}</span>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}
</div>
