---
layout: default
---

<div class="news">
  {%- if site.posts.size >= 3 -%}
  <div class="news-wrapper">
    {%- if page.title -%}
    <h2 class="post-list-heading fade-me-in">{{ page.title }}</h2>
    {%- endif -%}
    <ul class="flex-three posts fade-me-in">
      {%- for post in site.posts -%} {% if post.is-external == true %}
      <li>
        <a class="posts-title" href="{{ post.external-url }}">
          <img
            class="posts-image"
            src="{{ site.baseurl }}{{ post.main-image }}"
            alt=""
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d,
          %Y" -%}
          <span class="posts-meta">{{ post.date | date: date_format }}</span>
        </a>
      </li>
      {% else %}
      <li>
        <a class="posts-title" href="{{ site.baseurl }}{{ post.url }}">
          <img
            class="posts-image"
            src="{{ site.baseurl }}{{ post.main-image }}"
            alt=""
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d,
          %Y" -%}
          <span class="posts-meta">{{ post.date | date: date_format }}</span>
        </a>
      </li>
      {% endif %}

      <!-- {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%} -->
      {%- endfor -%}
    </ul>
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>
