---
layout: default
---

<div class="news">
  {%- if site.posts.size >= 3 -%}
  <div class="news-wrapper">
    {%- if page.title -%}
    <h2 class="post-list-heading">{{ page.title }}</h2>
    {%- endif -%}
    <ul class="flex-three posts">
      {%- for post in site.posts -%} {% if post.is-extenal %}
      <li>
        <a class="posts-title" href="{{ post.external-url }}">
          <img
            class="posts-image"
            src="{{ post.main-image }}"
            alt=""
            style="aspect-ratio: 5 / 3; object-fit: cover"
            loading="lazy"
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%-d %b,
          %Y" -%}
          <span class="posts-meta">{{ page.date | date: '%-d %B %Y' }}</span>
        </a>
      </li>
      {% else %}
      <li>
        <a class="posts-title" href="{{ post.url }}">
          <img
            class="posts-image"
            src="{{ post.main-image }}"
            alt=""
            style="aspect-ratio: 5 / 3; object-fit: cover"
            loading="lazy"
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d,
          %Y" -%}
          <span class="posts-meta">{{ page.date | date: '%-d %B %Y' }}</span>
        </a>
      </li>
      {% endif %}

      <!-- {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%} -->
      {%- endfor -%}
    </ul>
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
  <div class="rectangle left yellow"></div>
  <div class="rectangle right green"></div>
</div>
