---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <div>
      <h1 class="post-title p-name" itemprop="name headline">
        {{ page.title | escape }}
      </h1>
    </div>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%-d %B, %Y"
        -%} {{ page.date | date: '%-d %B %Y' }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ page.author }}</span
        ></span
      >
      {%- endif -%}
    </p>
    <img
      src="{{ page.main-image }}"
      alt=""
      loading="lazy"
      style="aspect-ratio: 5 / 3; object-fit: cover"
    />
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <!-- <ul class="flex-three posts">
    {%- for post in site.posts limit:3 -%}
    <li>
      <a class="posts-title" href="{{ site.baseurl }}{{ post.url }}">
        <img
          class="posts-image"
          src="{{ post.main-image }}"
          alt=""
          style="aspect-ratio: 5 / 3; object-fit: cover"
          loading="lazy"
        />
        <h3>{{ post.title | escape }}</h3>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%}
        <span class="posts-meta">{{ post.date | date: date_format }}</span>
      </a>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul> -->
  {%- if site.posts.size >= 3 -%}
  <div class="news-wrapper">

    <h2 class="post-list-heading fade-me-in">Latest News & Press</h1>
    <ul class="flex-three posts fade-me-in">
      {%- for post in site.posts limit:3 -%} {% if post.is-extenal %}
      <li>
        <a class="posts-title " href="{{ post.external-url }}">
          <img
            class="posts-image"
            src="{{ post.main-image }}"
            alt=""
            style="aspect-ratio: 5 / 3; object-fit: cover;"
            loading="lazy"
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
          -%}
          <span class="posts-meta">{{ post.date | date: date_format }}</span>
        </a>
      </li>
      {% else %}
      <li>
        <a class="posts-title" href="{{ post.url }}">
          <img
            class="posts-image"
            src="{{ post.main-image }}"
            alt=""
            style="aspect-ratio: 5 / 3; object-fit: cover;"
            loading="lazy"
          />
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
          -%}
          <span class="posts-meta">{{ post.date | date: date_format }}</span>
        </a>
      </li>
      {% endif %}
  
      <!-- {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%} -->
      {%- endfor -%}
    </ul>
    <div class="rectangle left yellow"></div>
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</article>
