---
layout: default
---

<div class="projects">
  {{ content }} {%- if site.projects.size > 0 -%}
  <ul class="posts">
    {%- for post in site.projects -%}
    <li>
      <img
        class="projects-image"
        src="{{ site.baseurl }}{{ post.project-image }}"
        alt=""
      />
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
      <a class="projects-title" href="{{ site.baseurl }}{{ post.url }}">
        <div class="text-wrapper">
          <h3>
            {{ post.title | escape }}
            <span>{{ post.project-description | escape }}</span>
          </h3>
        </div>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
