---
layout: default
---

<div class="projects">
  {{ content }} {%- if site.projects.size > 0 -%}
  <ul class="posts">
    {%- for post in site.projects -%}
    <li>
      <a class="projects-title" href="{{ site.baseurl }}{{ post.url }}">
        <h3>
          {{ post.title | escape }}
          <span>{{ post.project-description | escape }}</span>
        </h3>
      </a>
      <div class="rectangle left yellow"></div>
      <img
        class="projects-image"
        src="{{ post.project-image }}"
        alt=""
        loading="lazy"
      />
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
      -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
