---
layout: default
---

<div class="project">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.project.size > 0 -%}

  <ul class="posts">
    {%- for project in site.projects -%}
    <a class="project-title" href="{{ site.baseurl }}{{ project.url }}">
      <li>
        <img
          class="project-image"
          src="{{ site.baseurl }}{{ project.projects-image }}"
          alt=""
          style="aspect-ratio: 5 / 3"
          loading="lazy"
        />
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%}
        <span class="project-meta">{{ project.date | date: date_format }}</span>
        <div class="text-wrapper">
          <h3>
            {{ project.title | escape }}
            <span>{{ project.project-description | escape }}</span>
          </h3>
        </div>
        {%- if project.categories -%} {{ project.catergories }} {%- endif -%}
      </li>
    </a>
    {%- endfor -%}
  </ul>

  {%- endif -%}
</div>
